{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">
      <span style="color:#FF0000">E</span>
      <span style="color:#FF8000">m</span>
      <span style="color:#FFFF00">a</span>
      <span style="color:#80FF00">i</span>
      <span style="color:#00FF00">l</span> 
      <span style="color:#00FF80">A</span>
      <span style="color:#00FFFF">d</span>
      <span style="color:#007FFF">d</span>
      <span style="color:#0000FF">r</span>
      <span style="color:#7F00FF">e</span>
      <span style="color:#FF00FF">s</span>
      <span style="color:#FF0080">s</span>
    </label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">
      <span style="color:#FF0000">F</span>
      <span style="color:#FFAA00">i</span>
      <span style="color:#AAFF00">r</span>
      <span style="color:#00FF00">s</span>
      <span style="color:#00FFAA">t</span> 
      <span style="color:#00AAFF">N</span>
      <span style="color:#0000FF">a</span>
      <span style="color:#AA00FF">m</span>
      <span style="color:#FF00AA">e</span>
    </label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">
      <span style="color:#FF0000">P</span>
      <span style="color:#FFBF00">a</span>
      <span style="color:#80FF00">s</span>
      <span style="color:#00FF40">s</span>
      <span style="color:#00FFFF">w</span>
      <span style="color:#0040FF">o</span>
      <span style="color:#7F00FF">r</span>
      <span style="color:#FF00BF">d</span>
    </label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">
      <span style="color:#FF0000">P</span>
      <span style="color:#FF5A00">a</span>
      <span style="color:#FFB400">s</span>
      <span style="color:#F0FF00">s</span>
      <span style="color:#96FF00">w</span>
      <span style="color:#3CFF00">o</span>
      <span style="color:#00FF1E">r</span>
      <span style="color:#00FF78">d</span> 
      <span style="color:#00FFD2">(</span>
      <span style="color:#00D2FF">C</span>
      <span style="color:#0078FF">o</span>
      <span style="color:#001EFF">n</span>
      <span style="color:#3C00FF">f</span>
      <span style="color:#9600FF">i</span>
      <span style="color:#F000FF">r</span>
      <span style="color:#FF00B4">m</span>
      <span style="color:#FF005A">)</span>
    </label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
